* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  width: 200px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 10px 10px 0 #000;
}

.card-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 18px;
}

.tag {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 12px;
}

.date {
  font-size: 10px;
  margin: 8px 0;
}

.title {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 12px;
  cursor: pointer;
}

.title:hover {
  color: hsl(47, 88%, 63%);
}

.text {
  font-size: 9px;
  line-height: 1.5;
  color: hsl(0, 0%, 50%);
  margin-bottom: 20px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}